html {
    background-color: #f9f9fa;
}

body {
    background-color: #f9f9fa;
}

#mainpage {
    background-color: #f9f9fa;

    /*border: 1px solid lightgray;*/
    /*border-collapse: collapse;*/
}

#laboratory {
    background-color: #ffffff;
    margin: 0 auto;
    width: 85%;
}

#menu {
    background-color: #2a623d;
    width: 100%;
}

.navbar-right {
    margin-right: 15px;
}

td {
    padding-left: 5px;
    padding-right: 5px;
}
.td-right {
    text-align: right;
}

.lab-tabs {
    background-color: #f5f5f5;
}

.lab-tabs > li.active > a, .lab-tabs > li.active > a:focus, .lab-tabs > li.active > a:hover  {
    background-color: #f5f5f5;

}